body {
    text-align: center;
    margin: 0;
}

header {
    background-color: #ff0059;
    color: white;
    padding: 30px 20px;
    margin: 0;
}

nav {
    background-color: #0080ff;
    color: white;
    padding: 20px 0;
}

main {
    width: 850px;
    margin: 35px auto;
}

h1, h2 {
    color: #333;
    font-family: "Artifika", serif;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-family: "Roboto", sans-serif;
}

nav a {
    margin: 0 10%;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

nav a:hover {
    border-bottom: 2px solid white;

}

img {
    margin: 40px 8px;
}

footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #3300ff;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

.copyright, .message, .github {
    font-family: "Artifika", serif;
    float: left;
    width: 27%;
    margin: 25px 3%;
}

.message span {
    color: #ffae00;
    font-weight: 700;
}

.github a {
    color: #eeeeee;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}