body {
    text-align: center;
    margin: 0;
}

header {
    background-color: #ff0059;
    color: white;
    padding: 30px 20px;
    margin: 0;
}

nav {
    background-color: #0080ff;
    color: white;
    padding: 20px 0;
}

main {
    width: 850px;
    margin: 35px auto;
}

h1, h2 {
    color: #333;
    font-family: "Artifika", serif;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-family: "Roboto", sans-serif;
}

a {
    margin: 0 20px;
    color: white;
}

img {
    margin: 40px 8px;
}